* {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: row;
}

.divImagem {
    height: 100vh;
    width: 62.5%;
    display: flex;
}

.imagem {
    width: 100%;
    height: 100%;
}

.divTexto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.divTexto label{
    font-size: 12px;
}

.divTexto input{
    flex-direction: column;
    align-items: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    width: 350px;
    height: 35px;
    background-color: #ffffff;
    margin: 10px 0;
}

.titulo {
    font-size: 42px;
    padding-bottom: 50px;
}    

.button1 {
    border-radius: 5px;
    width: 350px;
    height: 35px;
    background-color: #39cc6c;
    border: 1px solid #39cc6c;
    color: #ffffff;
    font-size: 14px;
}

.button2 {
    border-radius: 5px;
    width: 350px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #39cc6c;
    color: #39cc6c;
    margin-top: 10px;
    font-size: 14px;
}

.button1:hover{
    background-color: rgba(6, 168, 28, 0.815);
}

.button2:hover{
    background-color: rgba(3, 3, 3, 0.795);
}

.linha1 {
    width: 350px;
    height: 1px;
    border-bottom: 1px solid #aaaaaa;
    margin: 30px 0;
}

.linha2 {
    width: 350px;
    height: 1px;
    border-bottom: 1px solid #aaaaaa;
    margin: 50px 0;
}

@media (max-width: 736px) {
    .divImagem {
        display:  none;
    }

    body {
        height: 100vh;
    }

    .form {
        width: 275px;
    }

    .divTexto input{
        width: 275px;
    }

    .button1{
        width: 275px;    
    }

    .linha1{
        width: 275px;
    }

    .linha2{
        width: 275px;
    }

    .button2{
        width: 275px;
    }
}

@media (min-width: 736px) and (max-width: 1024px) {
    .divImagem {
        display:  none;
    }

    body {
        height: 100vh;
    }

}